/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add styles to the body and header */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.current-page {
    font-weight: bold; /* Highlight text for the current page */
    color: #FF5733;
}


/* Style the navigation menu */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'MainFont', sans-serif; /* You can add a custom anime-style font */
}

/* Style the hero section */
#hero {
    text-align: center;
    padding: 80px 0;
    background-image: url('anime-background.jpg'); /* Add an anime-themed background image */
    background-size: cover;
    color: #fff;
}

.anime-title {
    font-family: 'MainFont', sans-serif;
    font-size: 48px;
}

.anime-tagline {
    font-family: 'MainFont', sans-serif;
    font-size: 24px;
}

.cta-button {
    background-color: #ff6600; /* Vibrant anime-style orange color */
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'MainFont', sans-serif;
}

/* Style the other sections as desired */
/* Add styles for #about, #portfolio, #contact, and footer */

/* Responsive design: adapt styles for smaller screens */

