/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add styles to the body and header */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    overscroll-behavior: auto black;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.current-page {
    font-weight: bold; /* Highlight text for the current page */
    color: #FF5733;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'MainFont', sans-serif;
}

/* Style the banner section */
#banner {
    text-align: center;
    padding: 80px 0;
    background-image: url('background.jpg'); /* Add a background image */
    background-size: cover;
    color: #ffff;
}

.title {
    font-family: 'MainFont', sans-serif;
    font-size: 48px;
}

.tagline {
    font-family: 'MainFont', sans-serif;
    font-size: 24px;
    padding: 20px;
}

.cta-button {
    background-color: #ff6600; /* Vibrant orange theme */
    color: #fff;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'MainFont', sans-serif;
}

/* Style the other sections */
#about, #portfolio, #contact, #blog {
    background-color: #fff; /* Background color for these sections */
    padding: 40px; /* Padding for these sections */
}

#about h2, #portfolio h2, #contact h2, #blog h2 {
    font-family: 'MainFont', sans-serif;
    font-size: 28px;
}

#about p, #portfolio p, #contact p, #blog p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

/* Style the footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

/* Style the specific section for overscroll effect */
#about::after, #portfolio::after, #contact::after, #blog::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; /* Set the color for the overscroll effect */
    pointer-events: none; /* Allows underlying content to be interactive */
    z-index: -1; /* Places it behind the section content */
}

/* Responsive design: adapt styles for smaller screens */
